*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
  }
  body{
    min-height: 100vh;
    width: 100%;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
  }
  .ki{
    text-align: center;
    
  }
  .container{
    width: 85%;
    background:#333;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
    position: relative;
  }
  .details{
    margin: 14px;
    text-align: center;
  }
  .details i {
    font-size: 30px;
    color: #e5e1e1b2;
    margin-bottom: 10px;
    animation: icon 1s infinite;
  }
  
  
  @keyframes icon {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
   .topic{
    font-size: 18px;
    font-weight: 500;
  }
   .text-a,
  .text-b{
    font-size: 14px;
    color: #afafb6;
  }
  .right{
    width: 75%;
    margin-left: 75px;
  }
  .topic-a{
    font-size: 23px;
    font-weight: 600;
    color: #e5e1e1b2;
  }
   .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
   .input-box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #e5e1e1b2;
    border-radius: 6px;
    padding: 0 15px;
    
  }
  .button{
    display: flex;
    margin-top: 1px;
  }
  .button input{
    color: #161616ef;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    background: #565656b2;
  }
  
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .content{
      flex-direction: column-reverse;
    }
   .left{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .right{
     width: 100%;
     margin-left: 0;
   }
  }